<div id="<%= dom_id coin %>">
  <p>
    <strong> <%= t('desctiption')%>:</strong>
    <%= coin.description %>
  </p>

  <p>
    <strong><%= t('acronym')%>:</strong>
    <%= coin.acronym %>
  </p>

  <p>
    <strong><%= t('url_image')%>:</strong>
    <%= coin.url_image %>
  </p>

</div>
