<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div class="actions">

  <%= link_to t('edit.coin'), edit_coin_path(@coin) %> |
  <%= link_to t('back.coins'), coins_path %>

</div>
<br>
<div class="field">

<%= button_to t('crud.delete'), @coin, method: :delete %>
</div>
